<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
    <title>Document</title>
</head>
<body class="sm:container mx-auto">

      <header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-4 dark:bg-gray-800">
        <nav class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between" aria-label="Global">
          <a class="sm:order-1 flex-none text-3xl font-semibold dark:text-white" href="/">DoseWise</a>
          <div class="sm:order-3 flex items-center gap-x-2">
            <button id="burgerMenue" type="button" class="md:hidden hs-collapse-toggle p-2.5 inline-flex justify-center items-center gap-x-2 rounded-lg border
             border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none 
             dark:bg-transparent dark:border-gray-700 dark:text-white dark:hover:bg-white/10 dark:focus:outline-none dark:focus:ring-1 
             dark:focus:ring-gray-600" data-hs-collapse="#navbar-alignment" aria-controls="navbar-alignment" aria-label="Toggle navigation">
              <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" 
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
              stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
              <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" 
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
              stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
            <a type="button" href="/newPatient" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border
             border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none
              dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
              New Patient
            </a>
          </div>
          <div id="navbar" class="relative hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto md:block sm:order-2">
            <div class="flex flex-col gap-5 mt-5 md:flex-row sm:items-center sm:mt-0 sm:ps-5 ">
              <a href="/" class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 
              dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Home</a>
              <a href="/guidelines" class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 
              dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">guidelines</a>
              <a href="/injectionHistory" class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 
              dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Injection History</a>
              <a href="/medications" class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 
              dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Anaesthetics</a>
              <a href="/contact" class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 
              dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Contact</a>
            </div>
          </div>
        </nav>
      </header> 
</body>
</html>