<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>

    <h1>this is the contact page</h1>

    <h1 class="text-3xl font-bold underline bg-slate-600">
        Hello world!
    </h1>

    <script src="/js/script.js"></script>
    <script src="/node_modules/preline/dist/preline.js"></script>
</body>
</html>