<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact page</title>
  <!-- Tailwind link -->
  <!-- <link rel="stylesheet" href="/css/output.css"> -->
  <style>
    .gradient {
      background: linear-gradient(90deg, #457de6 0%, #2a4ada 100%);
    }
  </style>
</head>
<body class="gradient bg-white sm:container mx-auto">
    <%- include('./partials/navbar') %>
  <!-- SECTION CONTACTS -->
  <section class="mapSection">
    <h2 class="text-center text-3xl py-8">You can visit us here</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19694.877248537283!2d-0.2006728941650393!3d51.90002523565295!2m3!1f0!2f0
    !3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876302e3f8c9931%3A0xe44c4c17018abe02!2sGSK%20-%20Stevenage!5e0!3m2!1sen!2suk!4v1709757156699!5m2!1sen!2suk"
    style="width: 60%; height: 450px; border: 0; margin-left: auto; margin-right: auto; display: block;" 
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
</section>
  <section class="getInTouch">
    <div class="contactsSection">
      <h2 class="text-center text-3xl">Contacts</h2>
      <div class="contactsDetails flex flex-col items-center mt-8">
        <span class="mobileContacts flex items-center">
          <img src="/img/flaticon-smartphone.png" alt="Iphone icons created by Good Ware - Flaticon" class="w-6 h-6 mr-2"/>
          <span class="indicative">(+123)</span> 456 656 911 *
        </span>
        <!-- <div class="custoChamada"><span>* (chamada para a rede móvel nacional)</span></div> -->
        <span class="emailContacts flex items-center mt-4">
          <img src="/img/flaticon-email.png" alt="Email icons created by Good Ware - Flaticon" class="w-6 h-6 mr-2"/> mauro.busso12@gmail.com
        </span>
        <span class="openingHours flex items-center mt-4">
          <img src="/img/flaticon-hours.png" alt="Info icons created by Circlon Tech - Flaticon" class="w-6 h-6 mr-2">Monday - Friday<br>09:00 - 18:00
        </span>
      </div>
    </div>
    <div class="formSection py-10">
      <h2 class="text-center text-3xl mb-4">Send us a message</h2>
      <form class="form max-w-md mx-auto" id="form1" action="https://formsubmit.co/mauro.busso12@gmail.com" method="POST">
        <input name="name" type="text" autocomplete="on" spellcheck="true" class="w-full px-4 py-2 rounded-md border border-gray-300 mb-3" placeholder="Name" required/>
        <input name="email" type="email" autocomplete="on" spellcheck="true" class="w-full px-4 py-2 rounded-md border border-gray-300 mb-3" placeholder="Email" required/>
        <input name="subject" type="text" autocomplete="on" spellcheck="true" class="w-full px-4 py-2 rounded-md border border-gray-300 mb-3" placeholder="Subject" required/>
        <textarea name="message" id="message" cols="30" rows="10" class="w-full px-4 py-2 rounded-md border border-gray-300 mb-3" placeholder="Message" required></textarea>
        <button type="submit" class="w-full bg-blue-100 text-blue-800 font-semibold px-4 py-2 rounded-md hover:bg-blue-400 transition duration-200">Send</button>
      </form>
    </div>
  </section>

  <%- include('./partials/footer') %>  

  <script src="/js/script.js"></script>
  <script src="/node_modules/preline/dist/preline.js"></script>
</body>
</html>