<!DOCTYPE html>
<html>
<head>
  <title>Guidelines Page</title>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
    <style>
      .gradient {
        background: linear-gradient(90deg, #316fe4 0%, #243fb9 100%);
      }
    </style>
</head>
<body class="text-white sm:container gradient flex flex-col min-h-screen">

  <%- include('./partials/navbar') %>

  <div class="container max-w-screen-md px-4 py-8">
    <h1 class="text-3xl font-bold text-white mb-4">Guidelines</h1>
    <p class="text-white py-4">
      Welcome to the NHS Guidelines page for anaesthetic calculations. 
      This resource aims to provide comprehensive information and resources for healthcare professionals 
      involved in anaesthesia administration. From patient information guides to practical tips for local anaesthesia,
      we strive to support your practice with the latest guidelines and insights.
    </p>
    <p class="text-white py-4">
      Whether you're a seasoned anaesthetist or a medical student seeking to deepen your understanding, 
      our aim is to provide a comprehensive platform to enhance your knowledge and practice in anaesthetic calculations.
    </p>
    <p class="text-white">
      For any inquiries or suggestions, please don't hesitate to reach out to our team. 
      Your feedback is invaluable as we continue to improve and expand our resources to better serve the medical community.
    </p>

    <div class="py-8">
      <ul class="flex flex-col">
        <li class="flex flex-col items-center gap-x-2 py-3 px-4 text-sm font-medium bg-white border border-gray-200
         text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-slate-900 dark:border-gray-700 dark:text-white">
          <a href="https://patient.info/doctor/practical-local-anaesthesia" class="hover:text-cyan-800 pb-4">Practical guide to Local Anaesthesia</a>
          <div class="flex items-center justify-center h-full">
            <p class="">
              Here is detailed information on various aspects of local anaesthesia, including types of local anaesthetic techniques 
              different types of local anaesthetic drugs, practical administration considerations, safety measures, and potential
              side effects and complications associated with local anaesthesia. It serves as a 
              comprehensive guide for healthcare professionals involved in administering local anaesthesia.
            </p>
            <img src="/img/anaesthetic-2.jpg" alt="img 1" class="p-4 w-full sm:h-64">
          </div>
        </li>

        <li class="flex flex-col items-center gap-x-2 py-3 px-4 text-sm font-medium bg-white border border-gray-200
         text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-slate-900 dark:border-gray-700 dark:text-white">
          <a href="https://www.researchgate.net/publication/350314182_Toenail_surgery_Indications_options_and_techniques" class="hover:text-cyan-800 pb-4">
            Toenail surgery: Indications, options and techniques</a>
          <div class="flex items-center justify-center h-full">
            <p class="">
              This article discusses various disorders of the nail, highlighting the nail plate's structure and production process. 
              It emphasizes the surgical approaches that can benefit conditions such as onychomycosis, hyper-curvature, and benign neoplasia,
              but focuses mainly on the ingrowing toenail (IGTN).
            </p>
            <img src="/img/anaesthetic-3.jpg" alt="img 1" class="p-4 w-full sm:h-64">
          </div>
        </li>
        <li class="flex flex-col items-center gap-x-2 py-3 px-4 text-sm font-medium bg-white border border-gray-200
         text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-slate-900 dark:border-gray-700 dark:text-white">
          <a href="https://www.esht.nhs.uk/wp-content/uploads/2019/08/0754.pdf" class="hover:text-cyan-800 pb-4">Information for Patients</a>
          <div class="flex items-center justify-center h-full">
            <p class="">
              The following article outlines toenail surgery, a procedure to address issues with problematic toenails such as ingrown toenails. 
              It discusses the reasons for the surgery, symptoms that may necessitate it, and alternatives to surgical intervention.
              Additionally, it covers potential risks, expected benefits, preparation and aftercare instructions, and the importance 
              of patient consent and hand hygiene.
            </p>
            <img src="/img/anaesthetic-4.jpg" alt="img 1" class="p-4 w-full sm:h-64">
          </div>
        </li>

      </ul>
    </div>
  </div>


  <!-- <div class="items-center flex flex-col">
    <ul class="flex flex-col items-center space-y-4">
      <li class="bg-white border border-gray-200 rounded-lg dark:bg-slate-900 dark:border-gray-700 dark:text-white">
        <a href="https://patient.info/doctor/practical-local-anaesthesia" class="block py-3 px-4 text-sm font-medium text-gray-800 dark:text-white">Practical guide to Local Anaesthesia</a>
        <p class="py-2 px-4 text-sm text-gray-700 dark:text-gray-300">
          Here is detailed information on various aspects of local anaesthesia, including types of local anaesthetic techniques, different types of local anaesthetic drugs, practical administration considerations, safety measures, and potential side effects and complications associated with local anaesthesia. It serves as a comprehensive guide for healthcare professionals involved in administering local anaesthesia.
        </p>
      </li>
      <li class="bg-white border border-gray-200 rounded-lg dark:bg-slate-900 dark:border-gray-700 dark:text-white">
        <a href="https://www.researchgate.net/publication/350314182_Toenail_surgery_Indications_options_and_techniques" class="block py-3 px-4 text-sm font-medium text-gray-800 dark:text-white">Toenail surgery: Indications, options and techniques</a>
        <p class="py-2 px-4 text-sm text-gray-700 dark:text-gray-300">
          
        </p>
      </li>
      <li class="bg-white border border-gray-200 rounded-lg dark:bg-slate-900 dark:border-gray-700 dark:text-white">
        <a href="https://www.esht.nhs.uk/wp-content/uploads/2019/08/0754.pdf" class="block py-3 px-4 text-sm font-medium text-gray-800 dark:text-white">Patient Information</a>
      </li>
    </ul>
  </div> -->

  <footer class="mt-auto">
    <%- include('./partials/footer') %>  
  </footer>

</body>
</html>
