<!DOCTYPE html>
<html>
<head>
  <title>Item</title>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
  <%- include('./partials/navbar') %>
  <h1>NHS Guidelines</h1>

  <a href="https://www.esht.nhs.uk/wp-content/uploads/2019/08/0754.pdf">Patient Information</a><br><br>
  <a href="https://patient.info/doctor/practical-local-anaesthesia">Practical Local Anaesthesia</a>


  <script src="/js/script.js"></script>
  <script src="/node_modules/preline/dist/preline.js"></script>
</body>
</html>