<!DOCTYPE html>
<html>
<head>
  <title>Item</title>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
  <%- include('./partials/navbar') %>
  <h1>NHS Guidelines</h1>

  <a>https://www.esht.nhs.uk/leaflet/toenail-surgery-advice-for-patients/</a><br><br>
  <a>https://www.dorsethealthcare.nhs.uk/podiatry/nail-surgery-pre-operative-advice</a>


  <script src="/js/script.js"></script>
  <script src="/node_modules/preline/dist/preline.js"></script>
</body>
</html>