<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- for tailwind -->
    <!-- <link rel="stylesheet" href="/css/output.css"> -->
</head>
<body>
    <header>
      <%- include('./partials/navbar') %>  
      <h1 class="bg-red-600">Local Anaesthtic Calculator</h1>
      <p class="sub-header">This app has been developed to assist podiatrist for calculationg the maximum safe dosage to administer to a patient</p>
    </header>

    <h1 class="text-3xl font-bold underline bg-slate-600">
      Hello world!
    </h1>

    <!-- fill with static content -->

    <script src="/js/script.js"></script>
</body>
</html>