<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <header>
      <%- include('./partials/navbar') %>  
      <h1 class="">Local Anaesthtic Calculator</h1>
      <p class="sub-header">This app has been developed to assist podiatrist for calculationg the maximum safe dosage to administer to a patient</p>
    </header>

    <script src="/js/script.js"></script>
    <script src="/node_modules/preline/dist/preline.js"></script>
</body>
</html>