<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact page</title>
  <!-- Tailwind link -->
  <link rel="stylesheet" href="/css/output.css">
  <style>
    .gradient {
      background: linear-gradient(90deg, #457de6 0%, #2a4ada 100%);
    }
  </style>
</head>
<body class="opaque-25 bg-slate-400">
    <h1>this are the results</h1>

  <%- include('./partials/footer') %>  

  <script src="/js/script.js"></script>
  <script src="/node_modules/preline/dist/preline.js"></script>
</body>
</html>